* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
#ofertadia {
    width: 100%;
    height: 80vh;
}
#list-day {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    background-color:#007991 ;
    padding: 0;
}
#lista{
    
    flex: 0 0 270px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #ffffff;
        border-radius: 3rem;
        padding: 2.5rem;
       
        box-shadow: 2px 0px 17px 2px rgba(0, 0, 0, 0.3);
        /* position: relative;  */
       
}


.oferta {
    margin-top: 0.5rem;
    
}
#image {
    width: 40%;
    height: 40%;
}
.butt{
background: #439A86;
font-weight: 500;
font-size: 1.5rem;
text-transform: uppercase;
border: none;
border-radius: 1rem;
padding: 1rem ;
}

/* #productos {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */

#productos li {
    flex: 0 0 270px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #ffffff;
        border-radius: 3rem;
        padding: 2.5rem;
}

#productos li img {
    width: 40%;
    height: 40%;
}